<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <%= stylesheet_link_tag "/assets/stylesheets/application.css.sass" %>
    <%= javascript_include_tag "/assets/javascripts/application.js" %>
  </head>
  <body>

    <div class="container">

      <h1>Listing articles</h1>

      <%= link_to 'New article', new_article_path %>

      <table>
        <tr>
          <th class="right-margin">Title</th>
          <th>Text</th>
          <th colspan="2"></th>
        </tr>

        <% @articles.each do |article| %>
          <tr>
            <td style="margin: 20px;"><%= article.title %></td>
            <td style="margin: 20px;"><%= article.text %></td>
            <td class="btn"><%= link_to 'Show', article_path(article) %></td>
            <td class="btn"><%= link_to 'Edit', edit_article_path(article) %></td>
            <td class="btn"><%= link_to 'Destroy', article_path(article),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </table>

    </div>

  </body>
</html>
